 <nav class="p-4 text-white bg-orange-500">
     <div class="container flex items-center justify-between mx-auto">
         <a routerLink="/" class="text-lg font-bold">My Store</a>
         <div class="flex items-center">
             <a routerLink="/products" class="mr-6">Products</a>
             <div class="relative" (mouseenter)="showCart.set(true)" (mouseleave)="showCart.set(false)">
                 <a routerLink="/checkout">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                      </svg>

                     <span class="absolute right-0 px-1 text-lg font-bold text-white -top-1">{{ cartStore.productsCount() }}</span>
                 </a>
                 @if(showCart() && cartStore.productsCount()) {
                     <div
                         [ngClass] = "{'show-cart-animation': showCart()}"
                         class="absolute right-0 z-30 w-48 p-2 mt-2 text-white rounded-sm bg-slate-400">
                         @for(product of cartStore.products(); track $index) {
                             <div class="flex items-center juatify-between">
                                 <span>{{product.quantity}} {{product.title | slice :0 : 30}} {{product.subTotal || product.price | currency}}</span>

                             </div>
                         }
                         <hr class="my-4 border-gray-500 border-t-1">
                         <div class="flex justify-between py-3 font-lighr">
                             Total:
                             <span class="not-italic font-bold">{{cartStore.totalAmount() | currency}}</span>
                         </div>
                     </div>
                 }
             </div>
         </div>
     </div>
 </nav>
