 <div class="overflow-hidden text-gray-600 body-font">
     <div class="container px-5 py-24 mx-auto">
         <div class="flex flex-wrap mx-auto lg-w-4/5">
             <img class="object-cover object-center w-full h-64 rounded lg:w-1/2 lg:h-auto" src="product name" alt="product name">
             <h2 class="text-sm tracking-widest text-gray-500 title-font">PRODUCT CATEGORY</h2>
             <h1 class="mb-1 text-3xl font-medium text-gray-900 title-font">product name</h1>
             <div class="flex mb-4">
                 <span class="flex item-center">
                     <span></span>
                     <span class="ml-3 text-gray-600">366 view</span>
                 </span>
                 <p class="mt-6 mb-5 leading-relax">product description</p>
                 <div class="flex">
                     <span class="text-2xl font-bold">product price</span>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <!-- muinuto 40:20 -->
